<h1>Mes catégories</h1>
<p>
	<%= link_to "Nouvelle catégorie", new_admin_category_path,  class: 'btn btn-primary btn-md'%>
</p>

<table class="table">
	<thead>
		<th>ID</th>
		<th>Titre</th>
		<th>Action</th>
		<th>&nbsp;</th>
	</thead>
	<tbody>
		<% @categories.each do |category| %>
		<tr>
			<td><%= category.id %></td>
			<td><%= category.title %></td>
			<td>
				<%= link_to "Modifier", edit_admin_category_path(category), class: 'btn btn-default btn-sm' %>
				
			</td>
		</tr>
		<% end %>
	</tbody>
</table>