@import "bootstrap";


body.client,
.navbar{
    background-color: #090a0b;
    
    h1,h2,h3,h4,h5, span, a, flash, label {
    color: #ffff;
    text-align: center;
   }

}

.container {
  padding: 30px 0;
  margin: 0 ;
}



.btn-product{
  background-color: #ff4da6;
  padding: 9px 11px;
  margin-top: 17px;
}
#cart_item{
  padding: 0;
  margin: 0;
  background: #ffffff;
}

.product-list, 
.group-cart{
    margin: 0;
  
}

div.admin {
	background-color: #000453;
}

.title{
  padding: 0 50px;
  margin: 0;
}

.item-list{
  text-align: center;
  margin: 50px 50px;
}


#description{
  padding: 10px 0;
  margin-top: 30px;

}
#description-list{
  float:left;
  size: 15px;
  margin-top: 40px;
  color: #ffff;


}

.form-user{
  border: 5px #ffff ;
  margin-top: 10vh;

  h3{
  background-size: 15px;
  }

}

.form-user label {
  color: #f0F0F0F0;
  font-size: 20px;
}

.buttoncart{
	margin-top: 15px;
	background-color: #e256c4;

}

.buttoncart :hover{
	background-color: #ffff;
	color: #e256c4;
}

.form-container {
  background: yellow;
	border: 1px solid #ffff;
	padding: 40px 60px;
	margin-top: 20vh;

	-webkit-box-shadow: 1px 10px 33px 12px rgba(214,69,214,1);
	-moz-box-shadow: 1px 10px 33px 12px rgba(214,69,214,1);
	box-shadow: 1px 10px 33px 12px rgba(214,69,214,1);	
}
.group-cart{
	width: 900px;
	text-align: center;
	margin: 40px auto;
}

.numbergroup{
	padding: 5px;
}

.btn-block{
	margin: 15px 0;
}

#checkout_info{
  
}

/**** MEDIA QUERIES ****/

@media (max-width: 576px) {

  body.client,
  .navbar{
    background-color: #090a0b;
    
    h1,h2,h3,h4,h5, span, a, flash, label {
    color: #ffff;
    font-size: 14px;
    }

  }

}