@import "bootstrap";

.container {
  padding: 0 10px 30px 10px;
}

.product-list {
  margin-top: 90px;
  
}

.btn-product{
    background-color: #ff4da6;
    padding: 9px 11px;
    margin-top: 17px;
}

.product-list, 
.group-cart{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    text-align: center;
}

div.admin {
	background-color: #000453;
}

body.client,
div.navbar{
	background-color: #090a0b;
	
	h1,h2,h3,h4,h5, span, a, label {
	color: #ffff;
    text-align: center;
   }

}


#cart_item{
	padding: 0;
	margin: 0;
	background: #ffffff;
}

.form-user{
  border: 5px #ffff ;
  margin-top: 10vh;

  h3{
  background-size: 15px;
  }

}

.form-user label {
  color: #f0F0F0F0;
  font-size: 20px;
}

.buttoncart{
	margin-top: 15px;
	background-color: #e256c4;

}
.buttoncart :hover{
	background-color: #ffff;
	color: #e256c4;

}
.form-container {
	border: 1px solid #ffff;
	padding: 40px 60px;
	margin-top: 20vh;

	-webkit-box-shadow: 1px 10px 33px 12px rgba(214,69,214,1);
	-moz-box-shadow: 1px 10px 33px 12px rgba(214,69,214,1);
	box-shadow: 1px 10px 33px 12px rgba(214,69,214,1);	
}
.group-cart{
	width: 900px;
	text-align: center;
	margin: 40px auto;
}

.numbergroup{
	padding: 5px;
}

.btn-block{
	margin: 15px 0;
}

/**** MEDIA QUERIES ****/

@media only screen and (max-width: 480px){
    .justpic{
    max-width: 300px;
    }
}